:root {
    --navbar-background: #d9c2ad;
    --navbar-text: #160d0a;
    --body-background: #fafafa;
    --error-page-background: #f3f3f3;
    --body-text: var(--navbar-text);
    --headings: var(--navbar-text);
    --form-border: var(--navbar-background);
    --form-field-border: var(--navbar-background);
    --form-error-message: #bf5454;
    --footer-background: var(--navbar-background);
    --footer-headings: var(--buttons);
    --subscribe-background: #d7e8f2;
    --buttons: var(--navbar-text);
    --color-404: #d8d7d7;
    --font-family: "Poppins", sans-serif;
    --font-weight: 400;
    --font-weight-500: 500;
    --font-size: 16px;
}
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    color: var(--body-text);
    font-family: var(--font-family);
    font-size: var(--font-size);
}

main {
    width: 100%;
    background-color: var(--body-background);
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.image-wrapper {
    width: 40%;
}

.image-wrapper img {
    border: 0.92px var(--navbar-background);
    object-fit: cover;
    width: 100%;
    height: 45rem;
}

.text-wrapper {
    border: 2px solid var(--form-border);
    border-radius: 15px;
    width: 35%;
    height: 36rem;
    padding: 1.5rem 1.7rem;
    text-align: center;
}

/* .contents {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid var(--navbar-background);
    border-radius: 20px;
} */
.tittle {
    color: var(--navbar-text);
    font-weight: var(--font-weight-500);
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.sub-title {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.25rem;
    font-weight: 400;
}
form {
    /* display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 10rem; */
    padding-top: 1.2rem;
}
.inputs {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;

}

.inputs input {
    position: relative;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--navbar-background);
    width: 60px;
    padding: 1rem 0 0;
    font-size: 2rem;
    text-align: center;
}
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.error {
    display: none;
    position: absolute;
    bottom: 18.5rem;
    margin-top: 0;
    color: var(--form-error-message);
    font-size: 0.7rem;
}
.submit {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
button {
    /* cursor: pointer;
    padding: 15px;
    background-color: var(--navbar-text);
    color: var(--body-background);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 2rem; */

    transition: all 0.2s ease;
    border-radius: 0.625rem;
    width: 100%;
    padding: 1rem;
    background-color: var(--navbar-text);
    cursor: pointer;
    color: var(--body-background);
    text-align: center;
    
}
/* .footer p {
    color: var(--navbar-text);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
} */

.term {
    display: flex;
    padding: 10px;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    font-size: 0.68rem;
}

.term a {
    opacity: 60%;
    color: var(--navbar-text);
    text-decoration: none;
}

.term a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.term-seperator {
    opacity: 60%;
}
